.ToDoItem {
    background-color: #fafafa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0, 15);
    font-weight: 800;
    color:black;
}
.ToDoItem-p {
    margin: 24px 0 24px 24 px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
}

.ToDoItem-p--complete {
    text-decoration: line-through;
    color:darkgray;
    font-weight: 400;
}

.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: darkgray;
}

.Icon-container-delete {
    position: absolute;
    top: 5%;
    right: 12px;
    transform: translateY(-50%);
    color: darkgray;
}

.Icon-container-check:hover .Icon-SVG {
    fill: #a0f905 !important;
}

.Icon-container-delete:hover .Icon-SVG {
    fill: red !important;
}

.Icon-SVG {
    width: 24px;
    height: 24px;
}
