.p-mensaje {
    display:flex;
    justify-content: center;
    text-align: center;
    color: rgba(97,218,250, 0.5);
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 5s ease; /* Transición de 1 segundo */
}

.p-mensaje.mostrar {
    opacity: 1; /* Mostrar gradualmente con opacidad completa */
  }