.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
.Icon-container-check {
    position: absolute;
    left: 12px;
    top: 50%; /* Centra verticalmente el icono */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    color:darkgray;
}
.Icon-container-check--active {
    color: #a0f905;
}
.Icon-container-delete {
    position: absolute;
    top: 5%;
    right: 0;
}
.Icon-container-check:hover .Icon-SVG {
    fill: #a0f905;
}
.Icon-container-delete:hover .Icon-SVG {
    fill: red;
}
.Icon-SVG {
    width: 24px;
    height: 24px;
}


/* ToDoIcon.css */
.ToDoSearch-container {
    position: relative;
    width: 100%;
  }
  
.ToDoSearch {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Ajusta el padding para dejar espacio al ícono */
    border: 1px solid #ccc; /* Bordes del input */
    border-radius: 4px; /* Bordes redondeados */
}

.Search-icon-container {
position: absolute;
top: 50%;
left: 95%;
transform: translateY(-50%);
pointer-events: none; /* Para que el ícono no interfiera con el input */
}

.Search-icon {
width: 40px;
height: 40px;
fill: gray; /* Color del ícono */
}